:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
@media only screen and (max-width: 1348px) {
    body {
        flex-direction: column;
        align-content: center;
    }
}
@media only screen and (max-width: 1138px) {
  .first {
    width: 75%;
  }
}
@media only screen and (min-width: 1138px) {
  .first {
    width: 50%;
  }
}
@media only screen and (min-width: 600px) {
  .second {
    grid-template-columns: minmax(120px, 1fr) minmax(120px, 1fr) minmax(
        120px,
        1fr
      );
    grid-template-rows: 165px 165px;
  }
}
@media only screen and (max-width: 600px) {
  .second {
    grid-template-columns: minmax(120px, 1fr) minmax(120px, 1fr);
    grid-template-rows: 165px 165px 165px;
  }
}
body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.first h1 {
  font-size: 36px;
  font-weight: 700;
}
.first p {
  font-size: 16px;
}
.button {
  background-color: rgb(79, 70, 229);
  color: white;
  padding: 12px;
  margin: 12px;
  border-radius: 5px;
  width: 200px;
  text-align: center;
}
.button:hover {
  background-color: rgb(67, 56, 202);
  transition-duration: 0.5s;
}
.second {
  display: grid;
  gap: 16px;
}
.card {
  max-width: 176px;
  height: 130px;
  border: solid 2px rgb(243, 244, 246);
  border-radius: 12px;
  padding: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
  overflow: hidden;
}
.card:hover {
  border: solid 2px rgb(229, 231, 235);
}
.card h2 {
  font-size: 16px;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 0px;
}
.card p {
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 0px;
}
img {
  background-color: rgb(249, 250, 251);
  border-radius: 10px;
}
form {
  display: flex;
  flex-direction: column;
}
input[type="text"] {
  border: solid 1px rgb(229, 231, 235);
  border-radius: 8px;
  width: min(448px, max(352px, 100%));
  padding: 16px;
  margin: 8px;
}
.mini-box {
  display: flex;
  justify-content: space-between;
}
.third {
    margin-top: 32px;
    width: 532px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
.third h3 {
    font-size: 30px;
}
.third p {
    color: rgb(107, 114, 128);
}
